.Home {
    margin: auto 100px;
}

.catInfo {
    margin: auto 100px;
}

.catData {
    margin: 20px 50px;
    display: flex;
}

.catDesc {
    margin: 10px 50px 20px 100px;
    color: #291507;
}

.features {
    margin: 10px 0;
}